
.bg-nav{
    background-repeat:  no-repeat;
    background-position:  center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar-area {
    position: relative;
    background-color: var(--whiteColor);

    &.sticky-box-shadow {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        position: fixed;
        background-color: var(--whiteColor) !important;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        .navbar-expand-lg{
            flex-wrap: nowrap;
        }
        .navbar-brand {
            width: 40%;
            font-size: inherit;
            line-height: 1;
            padding: 30px;
        }

    }
    &.bg-f9f9f9 {
        background-color: #f9f9f9;
    }
    .bg-light {
        background-color: transparent !important;
    }
    .container-fluid {
        padding: {
            left: 40px;
            right: 40px;
        };
    }
    .navbar-expand-lg{
        flex-wrap: wrap-reverse;
    }
    .navbar {
        padding: 0;
        position: inherit;


        .navbar-brand {

            font-size: inherit;
            line-height: 1;
            padding: 40px;
        }
        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;
        }
        .navbar-nav {
            margin-left: auto;
            position: relative;

            .nav-item {
                position: relative;
                margin: {
                    left: 15px;
                    right: 15px;
                };
                a {
                    position: relative;
                    color: var(--blackColor);
                    transition: var(--transition);
                    font: {
                        weight: 500;
                        size: var(--fontSize);
                    };
                    padding: {
                        left: 0;
                        right: 0;
                        top: 30px;
                        bottom: 30px;
                    };
                    &:hover, &.active {
                        color: var(--mainColor);
                    }
                }
                .dropdown-toggle {
                    padding-right: 12px;

                    &::after {
                        display: none;
                    }
                    &::before {
                        -webkit-font-smoothing: antialiased;
                        text-rendering: auto;
                        position: absolute;
                        content: "\f309";
                        line-height: 1;
                        top: 35.5px;
                        right: 0;
                        font: {
                            family: "Font Awesome 5 Free";
                            variant-ligatures: normal;
                            variant-caps: normal;
                            style: normal;
                            weight: 900;
                            size: 13px;
                        };
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
                &:first-child {
                    margin-left: 0;
                }
                &:hover, &.active {
                    a {
                        color: var(--mainColor);
                    }
                }
                .dropdown-menu {
                    left: 0;
                    top: 80px;
                    opacity: 0;
                    z-index: 99;
                    border: none;
                    width: 250px;
                    margin-top: 0;
                    display: block;
                    padding: 10px 0;
                    border-radius: 0;
                    position: absolute;
                    visibility: hidden;
                    background: var(--whiteColor);
                    transition: all 0.2s ease-in-out;
                    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

                    li {
                        margin: 0;

                        a {
                            display: block;
                            padding: 9px 20px;
                            position: relative;
                            color: var(--blackColor);
                            font: {
                                size: var(--fontSize);
                                weight: 500;
                            };
                            i {
                                top: 50%;
                                margin: 0;
                                right: 15px;
                                font-size: 11px;
                                position: absolute;
                                transform: translateY(-50%);
                            }
                            &:hover {
                                color: var(--mainColor);
                                padding-left: 25px;
                            }
                            &.active {
                                color: var(--mainColor);
                            }
                        }
                        .dropdown-menu {
                            top: 0;
                            opacity: 0;
                            left: auto;
                            right: 250px;
                            margin-top: 0;
                            visibility: hidden;
                            transform: translateX(0);

                            li {
                                a {
                                    color: var(--blackColor);
                                    padding-left: 20px;

                                    &:hover {
                                        color: var(--mainColor);
                                        padding-left: 25px;
                                    }
                                    &.active {
                                        color: var(--mainColor);
                                    }
                                }
                                .dropdown-menu {
                                    top: 0;
                                    opacity: 0;
                                    right: 250px;
                                    visibility: hidden;

                                    li {
                                        a {
                                            color: var(--blackColor);
                                            padding-left: 20px;

                                            &:hover {
                                                padding-left: 25px;
                                                color: var(--mainColor);
                                            }
                                            &.active {
                                                color: var(--mainColor);
                                            }
                                        }
                                        .dropdown-menu {
                                            top: 0;
                                            opacity: 0;
                                            right: 250px;
                                            visibility: hidden;

                                            li {
                                                a {
                                                    padding-left: 20px;
                                                    color: var(--blackColor);

                                                    &:hover {
                                                        color: var(--mainColor);
                                                        padding-left: 25px;
                                                    }
                                                    &.active {
                                                        color: var(--mainColor);
                                                    }
                                                }
                                                &.active {
                                                    a {
                                                        color: var(--mainColor);
                                                    }
                                                }
                                                &:hover {
                                                    .dropdown-menu {
                                                        opacity: 1;
                                                        visibility: visible;
                                                    }
                                                }
                                            }
                                        }
                                        &.active {
                                            a {
                                                color: var(--mainColor);
                                            }
                                        }
                                        &:hover {
                                            .dropdown-menu {
                                                opacity: 1;
                                                visibility: visible;
                                            }
                                        }
                                    }
                                }
                                &.active {
                                    a {
                                        color: var(--mainColor);
                                    }
                                }
                                &:hover {
                                    .dropdown-menu {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }
                        }
                        &.active {
                            a {
                                color: var(--mainColor);
                            }
                        }
                        &:hover {
                            .dropdown-menu {
                                opacity: 1;
                                margin-top: 0;
                                visibility: visible;
                            }
                        }
                    }
                }
                &:hover {
                    .dropdown-menu {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &.megamenu {
                    position: unset;

                    .dropdown-menu {
                        left: 0;
                        top: auto;
                        width: 100%;
                        padding: 25px;
                        margin-top: 0;
                        position: absolute;
                        transform: unset !important;

                        .submenu-title {
                            position: relative;
                            border-bottom: 1px solid #eeeeee;
                            padding-bottom: 8px;
                            text-transform: uppercase;
                            margin: {
                                bottom: 25px;
                                top: 30px;
                            };
                            font: {
                                size: var(--fontSize);
                                weight: 600;
                            };
                            &::before {
                                left: 0;
                                width: 50px;
                                height: 1px;
                                content: '';
                                bottom: -1px;
                                position: absolute;
                                background-color: var(--mainColor);
                            }
                            &:first-child {
                                margin-top: 0;
                            }
                        }
                        a {
                            border-bottom: none !important;
                        }
                        .megamenu-submenu {
                            li {
                                a {
                                    padding: 0;
                                    margin-top: 18px;
                                    color: var(--blackColor);

                                    .count {
                                        float: right;
                                        width: 20px;
                                        height: 20px;
                                        display: block;
                                        font-size: 12px;
                                        line-height: 20px;
                                        text-align: center;
                                        border-radius: 5px;
                                        background-color: #f4f4f4;
                                        transition: var(--transition);
                                    }
                                    &:hover, &.active {
                                        color: var(--mainColor);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.for-responsive {
                display: none !important;
            }
        }
        .others-option {
            margin-left: 30px;

            .option-item {
                margin-left: 25px;

                &:first-child {
                    margin-left: 0;
                }
            }
            .search-box {
                position: relative;
                width: 300px;

                .input-search {
                    width: 100%;
                    border: none;
                    height: 45px;
                    display: block;
                    color: var(--blackColor);
                    transition: var(--transition);
                    background-color: #f3f3f3;
                    padding: {
                        left: 15px;
                        right: 15px;
                    };
                    &::placeholder {
                        transition: var(--transition);
                        color: #999999;
                    }
                    &:focus {
                        &::placeholder {
                            color: transparent;
                        }
                    }
                }
                button {
                    top: 50%;
                    right: 15px;
                    border: none;
                    position: absolute;
                    color: var(--blackColor);
                    transform: translateY(-50%);
                    background-color: transparent;
                    transition: var(--transition);

                    &:hover {
                        color: var(--mainColor);
                    }
                }
            }
            .user-account {
                display: inline-block;
                font-size: 20px;
                line-height: 1;
                cursor: pointer;
            }
            .wishlist-btn {
                display: inline-block;
                position: relative;
                font-size: 19px;
                line-height: 1;
                padding: {
                    right: 8px;
                    top: 5px;
                };
                span {
                    right: 0;
                    top: -3px;
                    width: 17px;
                    height: 17px;
                    position: absolute;
                    background-color: red;
                    color: var(--whiteColor);
                    border-radius: 50%;
                    text-align: center;
                    line-height: 17px;
                    font: {
                        size: 9px;
                        weight: 600;
                    };
                }
            }
            .cart-btn {
                display: inline-block;
                position: relative;
                font-size: 19px;
                line-height: 1;
                padding: {
                    right: 8px;
                    top: 5px;
                };
                span {
                    right: 0;
                    top: -3px;
                    width: 17px;
                    height: 17px;
                    position: absolute;
                    background-color: red;
                    color: var(--whiteColor);
                    border-radius: 50%;
                    text-align: center;
                    line-height: 17px;
                    font: {
                        size: 9px;
                        weight: 600;
                    };
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .navbar-area {
        border-bottom: 1px solid #eeeeee;
        padding: {
            top: 15px;
            bottom: 15px;
        };
        &.sticky-box-shadow {
            border-bottom: none;
            padding: {
                top: 15px;
                bottom: 15px;
            };
        }
        .container-fluid {
            padding: {
                left: var(--bs-gutter-x, 0.75rem);
                right: var(--bs-gutter-x, 0.75rem);
            };
        }
        .navbar {
            .navbar-nav {
                display: none;
                max-height: 50vh;
                flex-direction: unset;
                background-color: #f9f9f9;
                overflow: {
                    y: scroll;
                    x: hidden;
                };
                margin: {
                    top: 15px;
                    left: 0 !important;
                    right: 0 !important;
                };
                padding: {
                    top: 18px;
                    left: 18px;
                    right: 18px;
                    bottom: 18px;
                };
                .nav-item {
                    margin: {
                        left: 0;
                        right: 0;
                        top: 18px;
                        bottom: 18px;
                    };
                    .nav-link {
                        font-size: 14px;
                        color: var(--blackColor);
                        padding: {
                            top: 0;
                            bottom: 0;
                            left: 0 !important;
                        };
                        &.active, &:hover {
                            color: var(--mainColor);
                        }
                    }
                    .dropdown-toggle {
                        &::before {
                            font-size: 15px;
                            right: 0;
                            top: 3px;
                        }
                    }
                    &:first-child {
                        margin-top: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:hover, &.active {
                        a {
                            color: var(--mainColor);
                        }
                    }
                    .dropdown-menu {
                        opacity: 1;
                        width: 100%;
                        padding: 18px;
                        top: 0 !important;
                        box-shadow: unset;
                        position: relative;
                        visibility: visible;
                        margin-top: 12px !important;
                        background-color: var(--whiteColor);

                        .nav-item {
                            margin: {
                                left: 0;
                                right: 0;
                                top: 15px;
                                bottom: 15px;
                            };
                            &:first-child {
                                margin-top: 0;
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                            .nav-link {
                                margin: 0;
                                padding: 0;
                                font-size: 14px;

                                &.dropdown-toggle {
                                    &::before {
                                        top: 2px;
                                        right: 0;
                                        transform: unset;
                                    }
                                }
                                &.active, &:hover {
                                    color: var(--mainColor);
                                }
                            }
                            .dropdown-menu {
                                top: 0;
                                left: 0;
                                right: 0;
                                opacity: 1;
                                width: auto;
                                visibility: visible;
                                margin: 15px 0 0 !important;
                                background-color: #f9f9f9;
                            }
                        }
                    }
                    &.megamenu {
                        .dropdown-menu {
                            background-color: var(--whiteColor);
                            position: relative;
                            margin-top: 12px;
                            padding: 18px;
                            left: 0;
                            top: 0;

                            .row {
                                display: block;
                                flex-wrap: unset;
                            }
                            .col {
                                margin-bottom: 25px;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                            .submenu-title {
                                font-size: 14px;
                            }
                            li {
                                a {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                &.for-responsive {
                    display: block !important;
                }
            }
            .others-option {
                margin-left: 0;
                padding: 15px 0 0;
                text-align: center;
                display: block !important;
                border-top: 1px solid #eeeeee;
                background-color: transparent;

                .option-item {
                    display: inline-block;

                    .search-box {
                        width: 100%;
                    }
                    &:first-child {
                        display: block;
                        margin-bottom: 15px;
                    }
                    &:nth-child(2) {
                        margin-left: 0;
                    }
                }
            }
        }
        &.bg-f9f9f9 {
            .navbar {
                .navbar-nav {
                    background-color: var(--whiteColor);

                    .nav-item {
                        .dropdown-menu {
                            background-color: #f9f9f9;

                            .nav-item {
                                .dropdown-menu {
                                    background-color: var(--whiteColor);
                                }
                            }
                        }
                        &.megamenu {
                            .dropdown-menu {
                                background-color: #f9f9f9;
                            }
                        }
                    }
                }
                .others-option {
                    background-color: transparent;
                }
            }
        }
    }
    .navbar-light {
        .navbar-toggler {
            color: var(--blackColor);
            font-size: inherit;
            box-shadow: unset;
            border: none;
            padding: 0;

            .burger-menu {
                cursor: pointer;

                span {
                    height: 3px;
                    width: 30px;
                    margin: 5px 0;
                    display: block;
                    background: var(--blackColor);
                }
            }
        }
        &.active {
            .navbar-toggler {
                .burger-menu {
                    span {
                        &.top-bar {
                            transform: rotate(45deg);
                            transform-origin: 10% 10%;
                        }
                        &.middle-bar {
                            opacity: 0;
                        }
                        &.bottom-bar {
                            transform: rotate(-45deg);
                            transform-origin: 10% 90%;
                            margin-top: 5px;
                        }
                    }
                }
            }
            .collapse:not(.show) {
                display: block;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .navbar-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .navbar-area {
        border-bottom: 1px solid #eeeeee;
        padding: {
            top: 15px;
            bottom: 15px;
        };
        &.sticky-box-shadow {
            border-bottom: none;
            padding: {
                top: 15px;
                bottom: 15px;
            };
        }
        .container-fluid {
            max-width: 720px;
            padding: {
                left: var(--bs-gutter-x, 0.75rem);
                right: var(--bs-gutter-x, 0.75rem);
            };
        }
        .navbar {
            .navbar-nav {
                display: none;
                max-height: 50vh;
                flex-direction: unset;
                background-color: #f9f9f9;
                overflow: {
                    y: scroll;
                    x: hidden;
                };
                margin: {
                    top: 15px;
                    left: 0 !important;
                    right: 0 !important;
                };
                padding: {
                    top: 18px;
                    left: 18px;
                    right: 18px;
                    bottom: 18px;
                };
                .nav-item {
                    margin: {
                        left: 0;
                        right: 0;
                        top: 18px;
                        bottom: 18px;
                    };
                    .nav-link {
                        font-size: 14px;
                        color: var(--blackColor);
                        padding: {
                            top: 0;
                            bottom: 0;
                            left: 0 !important;
                        };
                        &.active, &:hover {
                            color: var(--mainColor);
                        }
                    }
                    .dropdown-toggle {
                        &::before {
                            font-size: 15px;
                            right: 0;
                            top: 3px;
                        }
                    }
                    &:first-child {
                        margin-top: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:hover, &.active {
                        a {
                            color: var(--mainColor);
                        }
                    }
                    .dropdown-menu {
                        opacity: 1;
                        width: 100%;
                        padding: 18px;
                        top: 0 !important;
                        box-shadow: unset;
                        position: relative;
                        visibility: visible;
                        margin-top: 12px !important;
                        background-color: var(--whiteColor);

                        .nav-item {
                            margin: {
                                left: 0;
                                right: 0;
                                top: 15px;
                                bottom: 15px;
                            };
                            &:first-child {
                                margin-top: 0;
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                            .nav-link {
                                margin: 0;
                                padding: 0;
                                font-size: 14px;

                                &.dropdown-toggle {
                                    &::before {
                                        top: 2px;
                                        right: 0;
                                        transform: unset;
                                    }
                                }
                                &.active, &:hover {
                                    color: var(--mainColor);
                                }
                            }
                            .dropdown-menu {
                                top: 0;
                                left: 0;
                                right: 0;
                                opacity: 1;
                                width: auto;
                                visibility: visible;
                                margin: 15px 0 0 !important;
                                background-color: #f9f9f9;
                            }
                        }
                    }
                    &.megamenu {
                        .dropdown-menu {
                            background-color: var(--whiteColor);
                            position: relative;
                            margin-top: 12px;
                            padding: 18px;
                            left: 0;
                            top: 0;

                            .row {
                                display: block;
                                flex-wrap: unset;
                            }
                            .col {
                                margin-bottom: 25px;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                            .submenu-title {
                                font-size: 14px;
                            }
                            li {
                                a {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                &.for-responsive {
                    display: block !important;
                }
            }
            .others-option {
                margin-left: 0;
                padding: 15px 0 0;
                justify-content: center;
                background-color: transparent;
                border-top: 1px solid #eeeeee;
            }
        }
        &.bg-f9f9f9 {
            .navbar {
                .navbar-nav {
                    background-color: var(--whiteColor);

                    .nav-item {
                        .dropdown-menu {
                            background-color: #f9f9f9;

                            .nav-item {
                                .dropdown-menu {
                                    background-color: var(--whiteColor);
                                }
                            }
                        }
                        &.megamenu {
                            .dropdown-menu {
                                background-color: #f9f9f9;
                            }
                        }
                    }
                }
                .others-option {
                    background-color: transparent;
                }
            }
        }
    }
    .navbar-light {
        .navbar-toggler {
            color: var(--blackColor);
            font-size: inherit;
            box-shadow: unset;
            border: none;
            padding: 0;

            .burger-menu {
                cursor: pointer;

                span {
                    height: 3px;
                    width: 30px;
                    margin: 5px 0;
                    display: block;
                    background: var(--blackColor);
                }
            }
        }
        &.active {
            .navbar-toggler {
                .burger-menu {
                    span {
                        &.top-bar {
                            transform: rotate(45deg);
                            transform-origin: 10% 10%;
                        }
                        &.middle-bar {
                            opacity: 0;
                        }
                        &.bottom-bar {
                            transform: rotate(-45deg);
                            transform-origin: 10% 90%;
                            margin-top: 5px;
                        }
                    }
                }
            }
            .collapse:not(.show) {
                display: block;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {


    .navbar-area {
        .container-fluid {
            padding: {
                left: 15px;
                right: 15px;
            };
        }
        .navbar {
            .navbar-nav {
                .nav-item {
                    margin: {
                        left: 10px;
                        right: 10px;
                    };
                    a {
                        font-size: 14px;
                    }
                    .dropdown-toggle {
                        &::before {
                            font-size: 12px;
                        }
                    }
                    &.megamenu {
                        .dropdown-menu {
                            .submenu-title {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            .others-option {
                margin-left: 20px;

                .option-item {
                    margin-left: 20px;
                }
                .search-box {
                    width: 200px;
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .navbar-area {
        .navbar {
            .others-option {
                .search-box {
                    width: 220px;
                }
            }
        }
    }

}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    .navbar-area {
        .container-fluid {
            max-width: 1900px;
            padding: {
                left: 100px;
                right: 100px;
            };
        }
    }

}
