<div class="home-wrapper-area" *ngIf="data">
    <div class="container-fluid">
        <div class="home-wrapper-slides">
            <owl-carousel-o [options]="homeSlides">
                <ng-template carouselSlide *ngFor="let content of data.mainBannerSlides;">
                    <div class="single-banner-item">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-12">
                                <div class="content">
                                    <span class="sub-title">{{content.subTitle}}</span>
                                    <h1>{{content.title}} <span>{{content.discount}}</span></h1>
                                    <a routerLink="{{content.btnLink}}" class="default-btn"><i class="{{content.btnIcon}}"></i> {{content.btnText}}</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="image">
                                    <img [src]="content.image.url" alt="banner-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="shape1" *ngIf="data.shapeVisible"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape3" *ngIf="data.shapeVisible"><img src="assets/img/shape/shape3.png" alt="shape"></div>
</div>
