<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7">
                <h2>Blog Grid</h2>
            </div>
            <div class="col-lg-6 col-md-5">
                <ul class="page-title-content">
                    <li><a routerLink="/">Home</a></li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Blog -->
<div class="blog-area ptb-100">
    <div class="container">
        <div class="row" *ngIf="data">
            <div class="col-lg-4 col-md-6" *ngFor="let content of data | paginate: { itemsPerPage: 6, currentPage: blogGrid }">
                <div class="single-blog-post">
                    <div class="image">
                        <a 
                            [routerLink]="['/blog', content.slug]" 
                            class="d-block"
                        >
                            <img [src]="content.image.url" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <ul class="meta">
                            <li><a routerLink="/blog">{{content.category}}</a></li>
                            <li>{{content.date | date}}</li>
                        </ul>
                        <h3>
                            <a 
                                [routerLink]="['/blog', content.slug]"
                            >
                                {{content.title}}
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <pagination-controls previousLabel="" nextLabel="" (pageChange)="blogGrid = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<app-subscribe></app-subscribe>