<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12" *ngIf="data">
                <div class="blog-details-desc" *ngFor="let content of data;">
                    <div class="post-thumb">
                        <img [src]="content.image.url" alt="blog-details">
                    </div>
                    <h3>{{content.title}}</h3>
                    <div class="post-meta">
                        <ul>
                            <li><i class="far fa-folder-open"></i> <a routerLink="/blog">{{content.category}}</a></li>
                            <li><i class="far fa-calendar-alt"></i> {{content.date | date}}</li>
                        </ul>
                    </div>
                    <div markdown ngPreserveWhitespaces>
                        {{content.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-subscribe></app-subscribe>