.single-gallery-item {
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;

    img {
        transition: var(--transition);
    }
    &:hover {
        img {
            transform: scale(1.08);
        }
    }
}