<div class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title" *ngIf="data">
            <h2><span>{{data.sectionTitle}}</span></h2>
            <p>{{data.sectionTitleDesc}}</p>
        </div>
        <div class="row justify-content-center" *ngIf="data2">
            <div class="col-lg-4 col-md-6" *ngFor="let content of data2.slice(0, 3);">
                <div class="single-blog-post">
                    <div class="image">
                        <a 
                            [routerLink]="['/blog', content.slug]" 
                            class="d-block"
                        >
                            <img [src]="content.image.url" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <ul class="meta">
                            <li><a routerLink="/blog">{{content.category}}</a></li>
                            <li>{{content.date | date}}</li>
                        </ul>
                        <h3>
                            <a 
                                [routerLink]="['/blog', content.slug]"
                            >
                                {{content.title}}
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="circle-shape" *ngIf="data"><img *ngIf="data.shapeVisible" src="assets/img/circle.png" alt="shape"></div>
</div>