<div class="collection-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center" *ngIf="data">
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let content of data.collectionBox;">
                <div class="single-collection-box">
                    <img [src]="content.image.url" alt="collection-image">
                    <div class="content">
                        <h3>{{content.title}} <span>{{content.numberOfItems}}</span></h3>
                    </div>
                    <a routerLink="{{content.detailsLink}}" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>