<div class="container">
    <div class="row align-items-center" *ngIf="data">
        <div class="col-lg-3 col-md-12">
            <div class="partner-title">
                <h4>{{data.title}}</h4>
            </div>
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="partners-list align-items-center">
                <div class="partner-item" *ngFor="let item of data.partnerList;">
                    <a routerLink="{{item.link}}" class="d-inline-block">
                        <img  [src]="item.partnerImg.url" alt="partner">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
