.partner-title {
    h4 {
        margin-bottom: 0;
        font: {
            size: 20px;
            weight: 500;
        };
    }
}
.partners-list {
    display: flex;
    flex-wrap: wrap;
    margin: {
        top: calc(var(--bs-gutter-y) * -1);
        right: calc(var(--bs-gutter-x)/ -2);
        left: calc(var(--bs-gutter-x)/ -2);
    };
    .partner-item {
        margin-top: var(--bs-gutter-y);
        flex: 0 0 auto;
        width: 20%;
        padding: {
            right: calc(var(--bs-gutter-x)/ 2);
            left: calc(var(--bs-gutter-x)/ 2);
        };
    }
}
.partner-item {
    text-align: center;
    overflow: hidden;

    img {
        transition: var(--transition);
        width:100%;
    }
    &:hover {
        img {
            transform: scale(.9);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .partner-title {
        text-align: center;

        h4 {
            font-size: 17px;
        }
    }
    .partners-list {
        justify-content: center;

        .partner-item {
            width: 33.333333%;
            margin-top: 30px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .partners-list {
        .partner-item {
            width: 20%;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .partner-title {
        text-align: center;
        margin-bottom: 30px;

        h4 {
            font-size: 20px;
        }
    }
    .partners-list {
        justify-content: center;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .partner-title {
        h4 {
            font-size: 19px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}
