.footer-area {
    background-color: #f9f9f9;
    padding-top: 100px;
}
.single-footer-widget {
    margin-bottom: 30px;

    .logo {
        display: inline-block;
        margin-bottom: 25px;
    }
    &.pr-5 {
        padding-right: 5rem;
    }
    .location {
        color: var(--optionalColor);
        display: inline-block;
        position: relative;

        &::before {
            left: 0;
            bottom: 0;
            width: 100%;
            content: '';
            height: 1px;
            position: absolute;
            transition: var(--transition);
            background-color: var(--blackColor);
        }
        &:hover {
            color: var(--mainColor);

            &::before {
                width: 0;
            }
        }
    }
    h3 {
        font-size: 22px;
        margin-bottom: 25px;
    }
    .custom-links {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            margin-bottom: 12px;

            a {
                color: var(--optionalColor);
                display: inline-block;
                position: relative;

                &::before {
                    width: 0;
                    height: 1px;
                    content: '';
                    position: absolute;
                    background-color: var(--mainColor);
                    transition: var(--transition);
                    bottom: 0;
                    left: 0;
                }
                &:hover {
                    color: var(--mainColor);

                    &::before {
                        width: 100%;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .phone {
        margin-top: 20px;

        span {
            display: block;
            margin-bottom: 5px;
            color: var(--optionalColor);
        }
        a {
            display: inline-block;
        }
    }
}
.copyright-area {
    border-top: 1px solid #e8e8e8;
    margin-top: 70px;
    padding: {
        top: 30px;
        bottom: 30px;
    };
    p {
        strong {
            color: var(--blackColor);
            font-weight: 600;
        }
    }
    .payment-type {
        text-align: end;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .footer-area {
        padding-top: 60px;
    }
    .single-footer-widget {
        &.pr-5 {
            padding-right: 0;
        }
        .logo {
            margin-bottom: 20px;
        }
        .location {
            margin-top: 15px;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    .copyright-area {
        margin-top: 30px;
        padding: {
            top: 25px;
            bottom: 25px;
        };
        .payment-type {
            text-align: start;
            margin-top: 15px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .copyright-area {
        .payment-type {
            text-align: end;
            margin-top: 0;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .footer-area {
        padding-top: 80px;
    }
    .single-footer-widget {
        &.pr-5 {
            padding-right: 0;
        }
        .logo {
            margin-bottom: 20px;
        }
        h3 {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    .copyright-area {
        margin-top: 50px;
        padding: {
            top: 25px;
            bottom: 25px;
        };
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-footer-widget {
        &.pr-5 {
            padding-right: 10px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}