<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7">
                <h2>Detalle del Producto</h2>
            </div>
            <div class="col-lg-6 col-md-5">
                <ul class="page-title-content">
                    <li><a routerLink="/shop">Productos</a></li>
                    <li>Detalle del producto</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Products Details -->
<div class="products-details-area ptb-100">
    <div class="container" *ngIf="data">
        <div class="row align-items-center" *ngFor="let Content of data;">
            <div class="col-lg-5 col-md-12">
                <div class="products-details-image">
                    <owl-carousel-o [options]="productsSlides">
                        <ng-template
                            carouselSlide
                            *ngFor="let Image of Content.detailsImg"
                        >
                            <img [src]="Image.url" alt="products-image" />
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="products-details-desc">
                    <h2>{{ Content.title }}</h2>
                    <div class="price">
                        <span class="new-price">
                            {{ Content.currencyType }}
                            {{ Content.currentPrice }}
                        </span>
                        <span class="old-price" *ngIf="Content.oldPrice">
                            {{ Content.currencyType }}
                            {{ Content.oldPrice }}
                        </span>
                    </div>
                    <p>{{ Content.shortDesc }}</p>
                    <ul class="products-info">
                        <li><span>Tamaño</span> {{ Content.size}}</li>
                        <li>
                            <span>Vendedor:</span>
                            <a routerLink="/shop">{{ Content.vendor }}</a>
                        </li>
                        <li *ngIf="Content.inStock">
                            <span>Availability:</span> In stock
                        </li>
                        <li>
                            <span>Colección:</span>
                            <a routerLink="/shop">
                                 {{ Content.category.name }}
                            </a>
                        </li>
                    </ul>
                    <!--div class="products-add-to-cart">
                        <div class="d-flex align-items-center">
                            <div class="input-counter">
                                <input type="number" min="1" [(ngModel)]="inputnumber" />
                            </div>
                            <button
                                (click)="addToCart(Content, inputnumber)"
                                type="submit"
                                class="default-btn"
                            >
                                <i class="fas fa-shopping-bag"></i> ADD TO CART
                            </button>
                        </div>
                    </div-->
                    <!--a routerLink="/wishlist" class="add-to-wishlist-btn"
                        ><i class="fas fa-plus"></i> Add to Wishlist</a
                    -->
                    <br>
                    <b class="leter">--Consulta por este producto en nuestas redes sociales-- </b>
                    <div class="products-share">
                        <ul class="social">
                            <li><span>Redes sociales:</span></li>
                            <li>
                                <a href="https://www.facebook.com/Vistelarte-102015225676264" class="facebook" target="_blank"
                                    ><i class="fab fa-facebook-f"></i
                                ></a>
                            </li>
                            <!--  <li>
                                <a href="#" class="twitter" target="_blank"
                                    ><i class="fab fa-linkedin-in"></i
                                ></a>
                            </li>
                          <li>
                                <a href="#" class="linkedin" target="_blank"
                                    ><i class="fab fa-twitter"></i
                                ></a>
                            </li>-->
                            <li>
                                <a href="https://www.instagram.com/vistelarte/" class="instagram" target="_blank"
                                    ><i class="fab fa-instagram"></i
                                ></a>
                            </li>

                        </ul>
                        <a
                            (click)="addToCart(Content)"
                            href="https://api.whatsapp.com/send/?phone=56947123456&text={{message}}&app_absent=1"
                            class="default-btn"
                            target="_blank"
                        >
                            <i class="fas fa-shopping-bag"></i> Comprar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="products-details-tabs">
                    <ngx-tabset>
                       <!-- <ngx-tab tabTitle="Description">
                            <div markdown ngPreserveWhitespaces>
                                {{ Content.LongDesc }}
                            </div>
                        </ngx-tab>
                        ngx-tab tabTitle="Additional information">
                            <div markdown ngPreserveWhitespaces>
                                {{ Content.addInfo }}
                            </div>
                        </ngx-tab>
                        <ngx-tab tabTitle="Reviews">
                            <div class="products-review-comments">
                                <div
                                    class="user-review"
                                    *ngFor="let feedback of Content.reviews"
                                >
                                    <img
                                        [src]="feedback.authorImg.url"
                                        alt="image"
                                    />
                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <i
                                                class="fas fa-star checked"
                                                *ngFor="
                                                    let in of counter(
                                                        feedback.ratings
                                                    );
                                                    let i = index
                                                "
                                            ></i>
                                        </div>
                                    </div>
                                    <span class="d-block sub-name">{{
                                        feedback.name
                                    }}</span>
                                    <p>{{ feedback.feedback }}</p>
                                </div>
                            </div>
                        </ngx-tab-->
                    </ngx-tabset>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
