<div *ngIf="data">
    <!-- Page Title -->
    <div class="page-title-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <h2>{{data.sectionTitle}}</h2>
                </div>
                <div class="col-lg-6 col-md-5">
                    <ul class="page-title-content">
                        <li><a routerLink="/">Home</a></li>
                        <li>{{data.sectionTitle}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Feedback -->
    <div class="feedback-area pt-100 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let content of data.feedbackList;">
                    <div class="single-feedback-box">
                        <p>{{content.desc}}</p>
                        <h3>{{content.name}} <span>- {{content.designation}}</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-subscribe></app-subscribe>